h1 {
    color: purple;
    text-align: center;
}

.pidar {
    background-color: black;
}

.foto-dima {
    float: right;
}

.foto-bodya {
    float: left;
}

.foto-kirill {
    float: right;
}

.bogdan {
    margin-top: -55px;
    display: inline-block;
    height: 455px;
}

body {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}

/* Силачкі на соц. сети */
