h1 {
    color: purple;
    text-align: center;
}

span{
    font-style: italic;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal
}

.foto-dima {
    float: right;
}