.game {
    width: 70%;
    height: 200px;
    background-color: aliceblue;
    margin: auto;
    border-bottom: 3px solid #000;
    background-image: url(/img/dinoZaVrik/backDino.png);
}

.dinoText {
    margin: auto;
    text-align: center;
}

#dino, #cactus{
    animation-play-state: paused;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url('/img/dinoZaVrik/dino.png');
    /* background-size: 50 50; */
    background-size: cover;    /*  Убедитесь, что изображение покрывает весь контейнер */
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 75%;
}

#cactus {
    width: 50px;
    height: 50px;
    background-image: url('/img/dinoZaVrik/cactus.png');
    background-size: cover; 
    position: relative;
    top: 50%;
    left: 90%;
    animation: cactysMov 1.5s infinite linear;
    animation-play-state: paused;
}
@keyframes cactysMov {
    0% {
        left: 90%;
    }

    100% {
        left: -10%;
    }
}


.jump {
    animation: jump 1s linear;
}

@keyframes jump {
    0% {
        top: 75%;
    }

    40% {
        top: 20%;
    }

    60% {
        top: 20%;
    }

    100% {
        top: 75%;
    }
}







@media (max-width: 600px) {
    .game{
        display: none;
    }
}